@charset "utf-8";

/* ---------- Print ---------- */
.print .bar {
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #e8e8e8;
}

.print .bar .form-group {
	margin-right: 20px;
}

.print main {
	position: relative;
	overflow: hidden;
	padding: 0px 20px;
}

.print main .table-dashed tr td {
	border: none;
}

@media print {
	.print main {
		padding: 0px;
	}
}